
<div class="row">

  <div class="small-10 small-offset-1 columns">

    <h3>Open Problems</h3>

	<% if !logged_in? %>
		<p>To add your own problem, please <%= link_to 'login', new_login_path %>.</p>
	<% end %>

	</div>
</div>

<% @problems.order(created_at: :asc).each do |problem| %>

<div class="row">

    <div class="small-10 small-offset-1 columns">
      <div class="panel">
        <p><%= link_to truncate(problem.issue, length: 140, omission: "...(continued)"), problem_path(problem) %></p>
        <p>Asked by <%= problem.user.name %> on <%= problem.created_at.strftime("%A, %B %d, %Y at %l:%M%P") %> | <%= pluralize(problem.note_count, 'note') %> posted</p>
			</div>
		</div>

</div>

<% end %>


</div>
