<div class="row">
  <div class="small-10 small-offset-1 columns">

    <p>
      <strong>The Issue I'm Having:</strong>
      <%= @problem.issue %>
    </p>

    <p><strong>What I've Tried:</strong>
      <%= @problem.try %>
    </p>

    <% if @problem.screen %>
      <p><strong>Screenshot:</strong>
        <%= image_tag @problem.screen.url(:medium) %>
      </p>
    <% end %>

    <p>
        <% if @problem.resolved == false %>
          <% if current_user == @problem.user %>
              <%= link_to 'Mark as resolved <i class="fa fa-check-square"></i>'.html_safe, close_problem_path(@problem) %>
            <% else %>
                <strong>Open Problem</strong>
            <% end %>
        <% else %>
            <strong>Closed Problem</strong>
        <% end %>
    </p>

    <p>
      Asked by <%=@problem.user_name %>
    </p>

  </div>
</div>

<div class="row">
  <div class="small-10 small-offset-1 columns">
    <div id="notes">
      <%= render @problem.notes %>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-10 small-offset-1 columns">
    <% if logged_in? %>
      <fieldset>
        <legend>Add a Note:</legend>
        <%= simple_form_for [@problem, @note], remote: true do |form| %>
            <%= form.input :comment, :label => false %>
            <%= form.button :submit, 'Add Note', class: "btn btn-large btn-success" %>
        <% end %>
      </fieldset>
    <% else %>
      To add a note, please <%= link_to "login", new_login_path %>
    <% end %>
  </div>
</div>
